In [2]:
import pandas as pd
data=pd.read_csv('./credit_card.csv',encoding='gbk')
print('原始数据的形状为:',data.shape)
data

原始数据的形状为: (65535, 28)

,信用卡顾客编号,申请书来源,瑕疵户,逾期,呆账,借款余额,退票,拒往记录,强制停卡记录,张数,...,个人月收入,个人月开销,住家,家庭月收入,月刷卡额,宗教信仰,人口数,家庭经济,血型,星座
0,CDMS0000001,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10
1,CDMS0000002,3,2,2,2,2,2,2,2,2,...,1,2,1,1,2,1,4,4,1,5
2,CDMS0000003,2,2,2,2,2,2,2,2,2,...,1,1,1,1,6,6,6,5,1,7
3,CDMS0000004,3,2,2,2,2,2,2,2,2,...,1,1,1,1,4,2,4,3,2,6
4,CDMS0000005,6,2,2,2,2,2,2,2,2,...,1,3,1,1,5,1,4,3,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,CDMS0065531,4,2,2,2,2,2,2,2,2,...,4,2,5,4,5,7,6,2,4,6
65531,CDMS0065532,3,2,2,2,2,2,2,2,2,...,4,2,5,4,6,3,6,1,4,4
65532,CDMS0065533,3,2,2,2,2,2,2,2,2,...,4,2,5,4,3,1,4,1,3,1
65533,CDMS0065534,6,2,1,1,1,1,1,1,3,...,4,4,5,4,2,6,1,3,1,12
65534,CDMS0065535,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10

In [3]:
#去除逾期记录为1
index1=(data["逾期"]==1) & (data["呆账"]==1) & (data["强制停卡记录"]==1) & \
(data["退票"]==1)& (data["拒往记录"]==1)& (data["瑕疵户"]==2)
data1=data.loc[index1==False,:]
print('删除异常记录后数据的形状为\n',data1.shape)

删除异常记录后数据的形状为
 (63339, 28)

In [4]:
data1

,信用卡顾客编号,申请书来源,瑕疵户,逾期,呆账,借款余额,退票,拒往记录,强制停卡记录,张数,...,个人月收入,个人月开销,住家,家庭月收入,月刷卡额,宗教信仰,人口数,家庭经济,血型,星座
0,CDMS0000001,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10
1,CDMS0000002,3,2,2,2,2,2,2,2,2,...,1,2,1,1,2,1,4,4,1,5
2,CDMS0000003,2,2,2,2,2,2,2,2,2,...,1,1,1,1,6,6,6,5,1,7
3,CDMS0000004,3,2,2,2,2,2,2,2,2,...,1,1,1,1,4,2,4,3,2,6
4,CDMS0000005,6,2,2,2,2,2,2,2,2,...,1,3,1,1,5,1,4,3,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,CDMS0065530,4,2,2,2,2,2,2,2,1,...,4,1,5,4,3,7,1,2,1,8
65530,CDMS0065531,4,2,2,2,2,2,2,2,2,...,4,2,5,4,5,7,6,2,4,6
65531,CDMS0065532,3,2,2,2,2,2,2,2,2,...,4,2,5,4,6,3,6,1,4,4
65532,CDMS0065533,3,2,2,2,2,2,2,2,2,...,4,2,5,4,3,1,4,1,3,1
65534,CDMS0065535,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10

In [5]:
index2=(data["呆账"]==1) & (data["强制停卡记录"]==1) & (data["退票"]==1)& \
(data["拒往记录"]==2)
data2=data1.loc[index2==False,:]
print('删除异常记录后数据的形状为\n',data2.shape)

删除异常记录后数据的形状为
 (63081, 28)

In [6]:
data2

,信用卡顾客编号,申请书来源,瑕疵户,逾期,呆账,借款余额,退票,拒往记录,强制停卡记录,张数,...,个人月收入,个人月开销,住家,家庭月收入,月刷卡额,宗教信仰,人口数,家庭经济,血型,星座
0,CDMS0000001,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10
1,CDMS0000002,3,2,2,2,2,2,2,2,2,...,1,2,1,1,2,1,4,4,1,5
2,CDMS0000003,2,2,2,2,2,2,2,2,2,...,1,1,1,1,6,6,6,5,1,7
3,CDMS0000004,3,2,2,2,2,2,2,2,2,...,1,1,1,1,4,2,4,3,2,6
4,CDMS0000005,6,2,2,2,2,2,2,2,2,...,1,3,1,1,5,1,4,3,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,CDMS0065530,4,2,2,2,2,2,2,2,1,...,4,1,5,4,3,7,1,2,1,8
65530,CDMS0065531,4,2,2,2,2,2,2,2,2,...,4,2,5,4,5,7,6,2,4,6
65531,CDMS0065532,3,2,2,2,2,2,2,2,2,...,4,2,5,4,6,3,6,1,4,4
65532,CDMS0065533,3,2,2,2,2,2,2,2,2,...,4,2,5,4,3,1,4,1,3,1
65534,CDMS0065535,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10

In [7]:
index3=(data["频率"]==5) & (data["月刷卡额"]!=1) 
data3=data2.loc[index3==False,:]
print('删除异常记录后数据的形状为\n',data3.shape)

删除异常记录后数据的形状为
 (60578, 28)

In [8]:
data3

,信用卡顾客编号,申请书来源,瑕疵户,逾期,呆账,借款余额,退票,拒往记录,强制停卡记录,张数,...,个人月收入,个人月开销,住家,家庭月收入,月刷卡额,宗教信仰,人口数,家庭经济,血型,星座
0,CDMS0000001,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10
1,CDMS0000002,3,2,2,2,2,2,2,2,2,...,1,2,1,1,2,1,4,4,1,5
2,CDMS0000003,2,2,2,2,2,2,2,2,2,...,1,1,1,1,6,6,6,5,1,7
3,CDMS0000004,3,2,2,2,2,2,2,2,2,...,1,1,1,1,4,2,4,3,2,6
4,CDMS0000005,6,2,2,2,2,2,2,2,2,...,1,3,1,1,5,1,4,3,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,CDMS0065530,4,2,2,2,2,2,2,2,1,...,4,1,5,4,3,7,1,2,1,8
65530,CDMS0065531,4,2,2,2,2,2,2,2,2,...,4,2,5,4,5,7,6,2,4,6
65531,CDMS0065532,3,2,2,2,2,2,2,2,2,...,4,2,5,4,6,3,6,1,4,4
65532,CDMS0065533,3,2,2,2,2,2,2,2,2,...,4,2,5,4,3,1,4,1,3,1
65534,CDMS0065535,5,2,2,2,2,2,2,2,1,...,1,1,1,1,1,2,4,4,4,10

In [9]:
data1_selection=data3[["瑕疵户","逾期","呆账","强制停卡记录","退票","拒往记录"]]
data1_selection

       瑕疵户  逾期  呆账  强制停卡记录  退票  拒往记录
0        2   2   2       2   2     2
1        2   2   2       2   2     2
2        2   2   2       2   2     2
3        2   2   2       2   2     2
4        2   2   2       2   2     2
...    ...  ..  ..     ...  ..   ...
65529    2   2   2       2   2     2
65530    2   2   2       2   2     2
65531    2   2   2       2   2     2
65532    2   2   2       2   2     2
65534    2   2   2       2   2     2

[60578 rows x 6 columns]

In [11]:
data2_selection=data3[["借款余额","个人月收入","个人月开销","家庭月收入","月刷卡额"]]
data2_selection

       借款余额  个人月收入  个人月开销  家庭月收入  月刷卡额
0         2      1      1      1     1
1         2      1      2      1     2
2         2      1      1      1     6
3         2      1      1      1     4
4         2      1      3      1     5
...     ...    ...    ...    ...   ...
65529     2      4      1      4     3
65530     2      4      2      4     5
65531     2      4      2      4     6
65532     2      4      2      4     3
65534     2      1      1      1     1

[60578 rows x 5 columns]

In [13]:
data3_selection=data3[["职业","年龄","住家"]]
data3_selection

       职业  年龄  住家
0      12   3   1
1      19   7   1
2      11   2   1
3      12   7   1
4      11   4   1
...    ..  ..  ..
65529  14   4   5
65530  16   5   5
65531  14   3   5
65532  15   5   5
65534  12   3   1

[60578 rows x 3 columns]

In [15]:
#特征合并
card_features = pd.concat([data1_selection,data2_selection,data3_selection],axis=1)
print('构建LFS特征前5个为：\n',card_features.head())

构建LFS特征前5个为：
    瑕疵户  逾期  呆账  强制停卡记录  退票  拒往记录  借款余额  个人月收入  个人月开销  家庭月收入  月刷卡额  职业  年龄  住家
0    2   2   2       2   2     2     2      1      1      1     1  12   3   1
1    2   2   2       2   2     2     2      1      2      1     2  19   7   1
2    2   2   2       2   2     2     2      1      1      1     6  11   2   1
3    2   2   2       2   2     2     2      1      1      1     4  12   7   1
4    2   2   2       2   2     2     2      1      3      1     5  11   4   1

In [30]:
from sklearn.preprocessing import StandardScaler
import numpy as np
card_features_Scaler=StandardScaler().fit_transform(card_features)
print('标准化后LPFMC模型的3个特征为:\n',card_features_Scaler)

标准化后LPFMC模型的3个特征为:
 [[ 0.24381325  0.23879532  0.22088026 ... -0.07685176 -0.44054478
  -1.95817546]
 [ 0.24381325  0.23879532  0.22088026 ...  1.22685193  1.25542278
  -1.95817546]
 [ 0.24381325  0.23879532  0.22088026 ... -0.26309514 -0.86453667
  -1.95817546]
 ...
 [ 0.24381325  0.23879532  0.22088026 ...  0.29563501 -0.44054478
   1.67918022]
 [ 0.24381325  0.23879532  0.22088026 ...  0.48187839  0.407439
   1.67918022]
 [ 0.24381325  0.23879532  0.22088026 ... -0.07685176 -0.44054478
  -1.95817546]]

In [40]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=5,random_state=123,algorithm="elkan").fit(card_features_Scaler)

E:\anacond3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [41]:
print("根据三个特征聚类后的聚类中心：",kmeans.cluster_centers_)

根据三个特征聚类后的聚类中心： [[ 2.43813250e-01  2.38795325e-01  2.20880259e-01  2.50989479e-01
   2.23403437e-01  2.33435665e-01  2.38521028e-01 -8.64807653e-01
  -1.09010563e-02 -5.56671825e-01  3.18365583e-01  5.38662382e-01
   9.72336315e-02  2.70545048e-01]
 [-4.01996247e+00 -3.85544496e+00 -3.64184616e+00 -3.98423075e+00
  -3.77634602e+00 -3.46376779e+00 -3.63291207e+00 -7.56930687e-02
   2.41798844e-02  3.76758697e-03 -2.22350873e-02 -1.68468020e-01
  -4.47047739e-02 -1.40547661e-01]
 [ 2.43813250e-01  2.38795325e-01  2.20880259e-01  2.50989479e-01
   2.39026949e-01  1.60569203e-01  1.89011114e-01 -6.47223274e-01
  -2.95297697e-02 -4.36294282e-01 -8.21633360e-01 -1.31524874e+00
   2.67501668e-02 -4.47377058e-01]
 [ 2.43813250e-01  2.38795325e-01  2.20880259e-01  2.50989479e-01
   2.39026949e-01  2.48527757e-01  2.53359134e-01  2.01110027e+00
   1.41433034e-02 -1.78638712e+00 -7.54025701e-02  4.31622242e-01
  -4.46966493e-02 -1.06693182e-01]
 [ 2.43813250e-01  2.26045208e-01  2.20880259e-01  2.26972297e-01
   2.26287854e-01  2.11033562e-01  2.16495932e-01  7.10981602e-01
   1.90072114e-02  1.03695355e+00  2.10140432e-01  2.29700878e-01
  -8.00400388e-02  6.62383195e-02]]

In [38]:
num = pd.Series(kmeans.labels_).value_counts()
print('每类用户数目为：\n',num)

每类用户数目为：
 4    22219
0    18400
2    12337
3     4158
1     3464
dtype: int64